CC_LINK=$(CC) -T ../compil/linker.ld

CFLAGS:=$(CFLAGS) -g --sysroot=$(SYSROOT) -I=/usr/include/ -ffreestanding -Wall -Wextra
LDFLAGS:=$(LDFLAGS)
LIBS:=$(LIBS) -lc -nostdlib -lgcc

OBJS=\
crti.o \
crtbegin.o \
crt0.o \
test.o \
crtend.o \
crtn.o \

LINK_LIST=\
$(LDFLAGS) \
crti.o \
crtbegin.o \
crt0.o \
test.o \
$(LIBS) \
crtend.o \
crtn.o \

crti.o crtn.o crt0.o crtbegin.o crtend.o:
	cp ../compil/$@ $@

